/* ****************************** FOOTER CSS ********************************** */

@import url('https://fonts.googleapis.com/css?family=Enriqueta:400,400,600');

.footer_part {
    bottom:0;
    background: #222222;
    padding-top: 0px;
    padding-bottom: 0px;
    position: fixed;
    width:100%;
    line-height: 15px;
  }
  
  .footer_heading {
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    margin-top: 3px;
  }
  
  .social_media_logos {
    margin-left: 15px;
  }
  
  .social_block a {
    font-size: 14px;
    color: #777777;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    margin-right: 10px;
    margin-bottom: 2px;
    margin-top: 2px;
  }
  
  .social_block a:hover {
    color: #cfb316;
    text-decoration: none;
  }