/* ****************************** HEADER CSS ***********************************/
@import url('https://fonts.googleapis.com/css?family=Enriqueta:400,400,600');

.top_menu {
    background: #38011b;
  }
  
.navbar {
    border-radius: 0px;
    margin-bottom: 0px;
    background: transparent;
    padding: 0px;
    border: 0px;
  }
  
.navbar_link {
    font: 300 15px/50px 'Enriqueta', serif;
    text-transform: uppercase;
    padding: 0px 20px;
    display: inline-block;
    color: #fff;
  }

.graduation_cap{
  color: #fff;
}
  
  