/* ******************************SSU CSS********************************** */

@import url('https://fonts.googleapis.com/css?family=Enriqueta:400,400,600');

.post_style_A {
    margin-bottom: 100px;
    margin-top: 40px;
  }
  
  .post_text {
    padding-left: 40px;
    padding-right: 40px;
  }
  
  .post_text_inside {
    background: #fff;
    margin-top: -100px;
    position: relative;
    color: #777777;
    border-radius: 15px;
    font-size: 12px;
    font-family: 'Enriqueta', serif;
    margin-bottom: 20px;
    font-weight: 500;
    -webkit-box-shadow: 0px 10px 10px 0px rgba(163, 145, 9, 0.1);
    box-shadow: 0px 10px 10px 0px rgba(224, 228, 8, 0.1);
    padding: 10px;
    display: inline-block;
    line-height: 28px;
  }
  
  .post_heading {
    font-size: 24px;
    font-family: 'Enriqueta', serif;
    line-height: 30px;
    color: #222222;
    padding-right: 20px;
    font-weight: 900;
    margin-bottom: 10px;
  }
  
  .post_description {
    font-size: 14px;
    line-height: 24px;
    color: #777777;
    margin-bottom: 13px;
  }
  
  .post_sub_details_links {
    color: #777777;
    font-size: 13px;
    font-weight: normal;
    font-family: 'Enriqueta', serif;
    margin-right: 23px;
  }
  